/node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
Makefile
helm-charts
.env
.env.*
.editorconfig
.idea
coverage*
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.DS_Store
Thumbs.db
