# docker run --name some-postgres -e POSTGRES_PASSWORD=mysecretpassword -d postgres

services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: unless-stopped
    shm_size: 128mb
    env_file:
      - .env
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ./data:/var/lib/postgresql/data
    networks:
      traefik:
        ipv4_address: 172.20.0.7

networks:
  traefik:
    name: traefik
    external: true

