services:
  searxng:
    image: searxng/searxng:2025.7.22-5cbf422
    container_name: searxng
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - SEARXNG_URL=${SEARXNG_URL}
      - SEARXNG_SECRET=${SEARXNG_SECRET}
    volumes:
      - ./config:/etc/searxng
    networks:
      traefik:
        ipv4_address: 172.20.0.3

networks:
  traefik:
    name: traefik
    external: true
